<div>
    <h1>Administrator Dashboard</h1>
    <p> </p>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-default">Workshop Management</button></div>
    </div>
    <p> </p>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-default">Workshop Templates</button></div>
    </div>
    <p> </p>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-default">Email Templates</button></div>
    </div>
    <p> </p>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-default">Blacklist Management</button></div>
    </div>
    <p> </p>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-default">Administrator Management</button></div>
    </div>
    <p> </p>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-default">Settings</button></div>

    </div>
</div>
    </div>

</div>