<div class="container">

    <h1>
        <translate>EDIT_EMAIL_TEMPLATE</translate>
    </h1>
    <div class="col-md-2 col-xs-2 pull-right">
        <a ui-sref="email_template">
            <button class="btn btn-default">{{ "BUTTON_BACK" | translate}}</button>
        </a>
    </div>
    <hr>
    <br>

</div>

<div>
    <form role="search">


        <div class="col-md-6" ng-hide="loading">
            <div class="form-group">

                <label>{{ "EMAIL_TEMPLATE_TITLE" | translate}}</label>
                <input type="text" ng-model="title" class="form-control ">

                <label>{{ "EMAIL_SUBJECT" | translate}}</label>
                <input type="text" ng-model="email.subject" class="form-control">

                <label>{{ "EMAIL_BODY" | translate}}</label>
                <div text-angular ng-model="email.body"></div>

                <div class="form-group row text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" ng-click="discardChanges()">{{ "BUTTON_DISCARD" | translate}}</button>
                        <button type="button" class="btn btn-info" ng-click="confirmChanges()">{{ "BUTTON_CONFIRM" | translate}}</button>
                    </div>
                </div>
            </div>
            <br>
            <br>

        </div>
        <div class="col-md-6" id="alert" bs-alert></div>


    </form>
    <div ng-show="loading" class="container" style="margin-left: 50%;">
        <span class="glyphicon glyphicon-refresh glyphicon-spin centered-form" style="font-size: 5.0em;"></span>
    </div>
</div>
