<div class="container-fluid">
    <br>
        <div class="col-md-4 col-xs-4">
            <label translate for="website">
                WEBSITE
            </label>
            <input id="website" class="form-control" type="text" ng-model="website" placeholder="Website"/>
            <label translate for="email">
                EMAIL
            </label>
            <input id="email" class="form-control" type="text" ng-model="email" placeholder="E-Mail"/>
            <label translate for="telephone">
                TELEPHONE
            </label>
            <input id="telephone" class="form-control" type="text" ng-model="telephone" placeholder="Telephone"/>
            <label translate for="facebook">
                FACEBOOK
            </label>
            <input id="facebook" class="form-control" type="text" ng-model="facebook" placeholder="Facebook"/>
            <label translate for="address">
                ADDRESS
            </label>
            <input id="address" class="form-control" type="text" ng-model="address" placeholder="Address"/>
            <button translate type="button" class="btn btn-primary">BUTTON_DISCARD</button>
            <button translate type="button" class="btn btn-primary">BUTTON_SAVE</button>

        </div>

</div>