<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <br>
        <h2><translate>ADMINISTRATOR_MANAGEMENT</translate></h2>
        <form class="form" role="form">
            <div class="form-group">
                <button translate type="button" class="btn btn-default">BUTTON_LIST_OF_ADMINISTRATORS</button>
            </div>
            <div class="form-group">
                <button translate type="button" class="btn btn-default">BUTTON_INVITE_AN_ADMINISTRATOR</button>
            </div>
            <div class="form-group">
                <button translate type="button" class="btn btn-default">BUTTON_EDIT_ADMINISTRATOR</button>
            </div>

            <a ui-sref="dashboard"> <button class="btn btn-default">Back to Dashboard</button></a>


    </div>
</div>