<style>
    .btn {
        margin-top: 5px;
    }

    .form-control {
        margin-top: 5px;
    }
</style>
<div class="col-md-2">
    <input type="password" class="form-control" ng-model="password_old" placeholder="{{placeholder.old_password}}"/>
    <input type="password" class="form-control" ng-model="password" placeholder="{{placeholder.password}}"/>
    <input type="password" class="form-control" ng-model="password_confirm" placeholder="{{placeholder.password_confirm}}"/>

    <button translate type="button" class="btn btn-primary">Discard</button>
    <button transalte type="button" class="btn btn-primary">Save</button>
    <div bs-alert id="alert"></div>
</div>
