<div class="col-md-8 col-md-offset-2">
    <h1><translate>ADMINISTRATOR_MANAGEMENT</translate></h1>
<div class="col-md-2 col-xs-2 pull-right">
    <a ui-sref="dashboard"> <button translate class="btn btn-default">{{ "BUTTON_BACK_TO_DASHBOARD" | translate}}</button></a>
</div>
<hr>
<br>
</div>

<div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-10">
                <h2><translate>LIST_OF_ADMINISTRATORS</translate></h2>
                <div class="list-group" ng-repeat="admin in administratorList">
                    <a href="#" class="list-group-item active">
                        Cras justo odio
                        <button type="button" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </a>
                </div>
                <br>
                <div class="col-md-6 col-xs-6 ">
                    <a ui-sref="admininvite">
                        <button translate type="button" class="btn btn-default">BUTTON_INVITE_AN_ADMINISTRATOR</button>
                    </a><br><br>
                    <div class="list-group-item">
                        awdwfw@fff.com
                        <button type="button" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="list-group-item">
                        awssasadwfw@fsasasaff.com
                        <button type="button" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="list-group-item">
                        awssqqqqqasadwfw@fsqqas.com
                        <button type="button" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="list-group-item">
                        aasasasasdwfw@fsasasqqaff.com
                        <button type="button" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>