<style>
    .btn {
        margin-top: 5px;
    }

    .form-control {
        margin-top: 5px;
    }
    .help-block {
        display: inline;
    }
    .form-control.ng-invalid {
        border-color: #950B02;
    }
    .form-control.ng-valid {
        border: 1px solid #ccc;
    }
</style>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <h2 translate>CHANGE_PASSWORD</h2>
            <input type="password" class="form-control" ng-model="form.password_old" placeholder="{{'OLD_PASSWORD' | translate}}" />
            <input type="password" class="form-control" ng-model="form.password" placeholder="{{'NEW_PASSWORD' | translate}}"/>
            <input type="password" class="form-control" ng-model="form.password_confirm" placeholder="{{'REPEAT_PASSWORD' | translate}}" compare-to="form.password" ng-change="validatePW()"/>
            <button translate type="button" class="btn btn-primary pull-right" ng-click="changePassword()">BUTTON_CHANGE_PASSWORD</button>
        </div>
        <div class="row" id="pwalert" bs-alert></div>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <h2 translate>CHANGE_EMAIL</h2>
        <div class="row">
            <form novalidate>
                <input type="email" class="form-control" ng-model="form.email_old" placeholder="{{'OLD_EMAIL' | translate}}" />
                <input type="email" class="form-control" ng-model="form.email_new" placeholder="{{'ENTER_MAIL' | translate }}"/>
                <button translate type="button" class="btn btn-primary pull-right" ng-click="changeEmail()">BUTTON_CHANGE_MAIL</button>
            </form>
        </div>
        <div class="row" id="emailAlert" bs-alert></div>
    </div>
</div>
