<div class="container">
    <body data-spy="scroll" data-target=".navbar"><!--Wie bekommt man scrollen hin-->
    <h1>{{ "NEW_WORKSHOP" | translate}}</h1>
    <div class="col-md-2 col-xs-2 pull-right">
        <a ui-sref="admin_workshop_management"> <button class="btn btn-default">{{ "BUTTON_BACK" | translate}}</button></a>
    </div>
    <hr>
    <br>
    <div class="col-md-6" id="alert" bs-alert></div>
    <!--dropdown-->
    <button type="button" class="btn btn-default" ng-model="selectedTemplate" data-html="1" data-toggle="true"
            data-placeholder="Select a template"
            ng-change="loadTemplate()" bs-options="template.title for template in templates"
            bs-select>
        Action <span class="caret"></span>
    </button>

    <!--dropdown end-->

    <form role="search">

        <div class="from-group col-md-8 col-md-offset-2">

            <label>{{ "WORKSHOP_TITLE" | translate}}</label>
            <input type="text" ng-model="workshop.title" class="form-control" placeholder="{{workshop.title}}">

            <label>{{ "WORKSHOP_DESCRIPTION" | translate}}</label>
            <div text-angular  ng-model="workshop.description" placeholder="{{workshop.description}}"></div>

            <label>{{ "WORKSHOP_COST" | translate}}</label>
            <input type="number" ng-model="workshop.cost" class="form-control " placeholder="{{workshop.cost}}">

            <label>{{ "WORKSHOP_REQUIREMENTS" | translate}}</label>
            <input type="text" ng-model="workshop.requirement" class="form-control " placeholder="{{workshop.requirement}}">

            <label>{{ "WORKSHOP_LOCATION" | translate}}</label>
            <input type="text" ng-model="workshop.location" class="form-control " placeholder="{{workshop.location}}">

            <label>{{ "WORKSHOP_MAXIMUM_NUMBER_OF_PARTICIPANTS" | translate}}</label>
            <input type="number" ng-model="workshop.max_participants" class="form-control" placeholder="{{workshop.max_participants}}">

            <div class="form-group">
                <label>{{ "WORKSHOP_START_TIME" | translate}}</label>
                <div class="form-group">
                    <input type="test"  size="10" data-date-format="dd-MM-yyyy" ng-model="workshop.start_at"  bs-datepicker placeholder="Date" class="form-control col-md-4" >
                </div>
                <div class="form-group">
                    <input type="text" size="8"  ng-model="workshop.start_at" data-time-format="HH:mm" data-autoclose="1" placeholder="Time" bs-timepicker class="form-control col-md-4">
                </div>
            </div>

            <label>{{ "WORKSHOP_DURATION" | translate}}</label>
            <input  type="text" size="8"  ng-model="workshop.duration" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" placeholder="Time" bs-timepicker class="form-control col-md-4">

        </div>


        <div class="form-group row text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-info" ng-click="discard()">{{ "BUTTON_DISCARD" | translate }}</button>
                <button type="button" class="btn btn-info" ng-click="sendInfo()">{{ "BUTTON_SAVE" | translate }}</button>
            </div>
        </div>
    </form>
    </body>
</div>
</div>