<div class="row">
    <div class="col-md-12 col-xs-12">
        <div text-angular="" ta-toolbar="lnToolbar" ng-model="ln.legalNotice"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <button translate type="button" ng-click="discardLegalNotice()" class="btn btn-primary">BUTTON_DISCARD</button>
        <button translate type="button" ng-click="saveLegalNotice()" class="btn btn-primary">BUTTON_SAVE</button>
    </div>
</div>
<div class="row" style="margin-bottom: 100px;">
    <div id="alertInfo"></div>
</div>
