<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <p class="box-title">{{workshop.title}}</p>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label translate class="col-lg-2 col-sm-12 control-label">WORKSHOP_DESCRIPTION</label>
                            <div class="col-sm-10 col-sm-12"><p>{{workshop.description}}</p></div>
                        </div>

                        <div class="form-group">
                            <label translate class="col-lg-2 col-sm-12 control-label">WORKSHOP_COST</label>
                            <div  class="col-sm-10 col-sm-12"><p>{{workshop.cost}} {{ "C" | translate}}</p></div>
                        </div>

                        <div class="form-group">
                            <label translate class="col-lg-2 col-sm-12 control-label">WORKSHOP_REQUIREMENTS</label>
                            <div class="col-sm-10 col-sm-12"><p>{{workshop.requirement}}</p></div>
                        </div>

                        <div class="form-group">
                            <label translate class="col-lg-2 col-sm-12 control-label">WORKSHOP_LOCATION</label>
                            <div class="col-sm-10 col-sm-12"><p>{{workshop.location}}</p></div>
                        </div>

                        <div class="form-group">
                            <label translate class="col-lg-2 col-sm-12 control-label">WORKSHOP_START_TIME</label>
                            <div class="col-sm-10 col-sm-12"><p>{{workshop.start_at|date: "dd/MM/yyyy hh:mm"}}</p></div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-group pull-right"> <!--ng-repeat="participant in List"-->
                    <a href="#" translate class="list-group-item">WORKSHOP_PARTICIPANTS</a>
                    <!-- schauen welche variable um teilnemher zu entnehmen udn wird in diser form nun alle teilnehmer eingetragen -->
                    <a href="#" class="list-group-item">{{participants}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- loading -->
    <div ng-show="loading">
        <span class="glyphicon glyphicon-refresh glyphicon-spin centered-form" style="font-size: 5.0em;"></span>
    </div>


