<div>
    <div class="container-fluid">
        <h1>Administrator Dashboard</h1>
        <hr>
        <br>
        <br>
        <div class="row text-center">
            <div class="col-sm-4"><button type="button" class="btn btn-default btn-block">Workshop Management</button></div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-sm-4"><button type="button" class="btn btn-default btn-block">Workshop Templates</button></div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-sm-4"><button type="button" class="btn btn-default btn-block">Email Templates</button></div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-sm-4"><button type="button" class="btn btn-default btn-block">Blacklist Management</button></div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-sm-4"><button type="button" class="btn btn-default btn-block">Administrator Management</button></div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-sm-4"><button type="button" class="btn btn-default btn-block">Settings</button></div>
        </div>
    </div>
</div>