<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
        <h1><translate>CONTACT</translate></h1>
        <div class="col-md-2 col-xs-2 pull-right">
            <a ui-sref="workshops" href="#/workshops">
                <button class="btn btn-default">{{ "BUTTON_BACK" | translate}}</button>
            </a>
        </div>
        <hr>
        <br>
    <div class="scrollable-table">
        <table class="table table-striped table-header-rotated">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="row-header"><h4 translate>WEBSITE</h4></td>
                <td><font size="4">www.unikat.com </font></td>

            </tr>
            <tr>
                <td class="row-header"><h4 translate>EMAIL</h4></td>
                <td><font size="4">unikat@tu-ilmenau.de</font></td>
            </tr>
            <tr>
                <td class="row-header"><h4 translate>FACEBOOK</h4></td>
                <td><font size="4">www.facebook.com/uniwerkstatt</font></td>
            </tr>
            <tr>
                <td class="row-header"><h4 translate>ADDRESS</h4></td>
                <td><font size="4">Zentralinstitut für Bildung <br>c/o TU Ilmenau<br>Langwiesener Straße 32,<br>Kontorhaus, Erdgeschoss<br>98693 Ilmenau</font></td>
            </tr>
            <tr>
                <td class="row-header"><h4 translate>TELEPHONE</h4></td>
                <td><font size="4"></font></td>
            </tr>
            </tbody>
        </table>

    </div><br>

</div>


</div>