<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrollment Success!</title>
</head>
<body>
    <div class="col-md-10 col-md-offset-1">
        <div class="form-group has-feedback">
                <div class="container">
                    <h2>Enrollment Success!</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="form-group row text-center">
                        <div class="col-sm-1 col-md-6 ">
                            <a ui-sref="workshops"><button type="button" class="btn btn-default">OK_BUTTON</button></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>