
<div class="container">
        <div class="col-md-10 col-md-offset-1">
                <br>
                <h2>Legal Notice</h2>
                <p>
                    <br>
                    <br>
                    The contents of this website are protected by copyright.Their use is only permitted for private purposes.<br><br>Any reproduction, presentation, transmission, rental and / or loan of the website or its content is prohibited without the permission of the copyright holder and attracts criminal or civil consequences.
                    <br><br>All rights reserved.For all links from our other sites on the Internet, that we have no influence on the design and content of the linked pages.<br><br>
                    We dissociate ourselves from all contents of all linked pages on our website and do not make their content as our own.<br><br> This statement applies to all links displayed on our Internet presence and for all contents of the pages to which the links registered in our name.
                </p>
                <br>
                <br>
                <br>

            <a ui-sref="workshops"><button translate type="button" class="btn btn-primary">OK</button></a>

        </div>
</div>