<div class="container">

<div class="col-xs-12 col-sm-8 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 translate class="panel-title">LOGIN</h3>
        </div>
        <div class="panel-body">
            <form role="form">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="user" ng-model="user" class="form-control input-sm" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="pass" ng-model="password" class="form-control input-sm" placeholder="Password">
                        </div>
                    </div>
                </div>

                <button type="button" translate class="btn btn-info btn-block">Login</button>
            </form>
            <div class="login-help">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div></div>

