<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnsubscribeMessage</title>
</head>
<body>
<div class="col-md-10 col-md-offset-1">
        <div class="form-group has-feedback">


            <div class="container">
                <h2> Unsubscribe </h2>
                <div class="alert alert-success">
                    <strong>Success</strong> You are succesfully unsubscribed.
                </div>

                <a ui-sref="workshops"><button type="button" class="btn btn-success">go back to Workshoplist</button></a>

            </div>

</body>
</html>