<div ng-controller="WorkshopListCtrl">
    <div class="col-lg-10 col-lg-offset-1">
    <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="panel in panels">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a bs-collapse-toggle>
                        {{ panel.title }}
                        <div>WORKSHOP_NAME</div>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body " style="overflow:scroll">
                    <div class="container-fluid">
                    <div class="row.fluid">


                        <table class = "table table-hover table-condensed table-responsive">
                            <tr>
                                <th><strong>Workshop date</strong></th>
                                <th><strong>Workshop duration</strong></th>
                                <th><strong>Workshop room</strong></th>
                            </tr>

                            <tr>
                                <td>WORKSHOP_BEGIN_DATE</td>
                                <td>WORKSHOP_DURATION</td>
                                <td>WORKSHOP_PLACE</td>
                            </tr>
                        </table>
                        <div class="span12">WORKSHOP_CONTENT</div>
                        <div class="span4 col-l">WORKSHOP_REQUIRMENTS</div>

                        <div class="span3">
                            <button type="button" class="btn pull-right">ENROLL_BUTTON</button>
                        </div>


                    </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>

</div>