<div>
    <div class="col-md-8 col-md-offset-2">

        <div class="col-lg-12 col-xs-12">
            <div class="col-lg-12 col-xs-12">

                <div class="box box-default">
                    <div class="box-header with-border">
                        <p class="box-title">{{workshop.title}}</p>
                    </div>
                </div>
                <div class="box-body ">
                    <div class="form-group">
                        <label translate class="col-lg-2 col-sm-12 control-label">WORKSHOP_DESCRIPTION</label>
                        <div class="col-sm-10 col-sm-12"><p>{{workshop.description}}</p></div>
                    </div>
                </div>
                <div class="list-group pull-right" ng-repeat="participant in List">
                    <a href="#" translate class="list-group-item active">WORKSHOP_PARTICIPANTS</a>
                    <!-- schauen welche variable um teilnemher zu entnehmen udn wird in diser form nun alle teilnehmer eingetragen -->
                    <a href="#" class="list-group-item">{{participants}}</a>

                </div>
            </div>
        <!-- loading -->
        <div ng-show="loading">
            <span class="glyphicon glyphicon-refresh glyphicon-spin" style="font-size: 5.0em;"></span>
        </div>


        </div>
    </div>
</div>