<div>
     <div class="col-md-8 col-md-offset-2">

         <div class="form-group has-feedback">

             <input type="text" class="form-control" placeholder="Search" ng-model="query">
             <i class="glyphicon glyphicon-search form-control-feedback"></i>
         </div>

         <div class="col-lg-12">

             <div class="box-group" ng-repeat="panel in panels">
             <div class="box box-default">
                 <div class="box-header with-border">
                     <div class="container">
                      <div class="row">
                            <h4 class="box-title col-md-8">Workshop: {{workshop.title}}</h4>
                            <label class="text-right" style="color: #99999f;">x/y</label> <!--{{participant.number}}/{{max.participants}}-->
                      </div>
                     </div>

                     <div class="box-tools pull-right">
                         <button type="button" class="btn btn-box-tool" ng-click="toggle = !toggle">
                             <span ng-class="{'glyphicon glyphicon-menu-down': toggle, 'glyphicon glyphicon-menu-up': !toggle }"></span>
                         </button>
                     </div>
                     <!-- /.box-tools -->
                 </div>
                 <!-- /.box-header -->
                 <div class="box-body " ng-show="toggle">
                     <p >Workshop short description</p>

                     <div class="span3">
                         <button type="button" class="btn pull-right">Details</button>
                     </div>
                 </div>
                 <!-- /.box-body -->
             </div>
                 <!-- /.box -->
             </div>
         </div>

    </div>

</div>